<div class="w-100 h-100 d-flex d-flex flex-column align-top mt-3" x-data="{ open: false }">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">
        <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %>
      </a>
    </li>
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Months", root_path %>
    </a></li>
    <li class="breadcrumb-item active">
      <%= @month.period.strftime('%B-%Y') %>
    </li>
  </ol>

  <table class="table table-hover">
    <thead class="table-secondary">
    <tr>
      <th scope="col">Concept</th>
      <th scope="col">Type</th>
      <th scope="col">Amount</th>
      <th scope="col">Paid/Received</th>
      <th scope="col">Additional Info</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <%=render Line::Component.with_collection(@month.month_lines) %>
    <tr x-show="open">
      <%= form_with(model: @month_line , class: "contents") do |form| %>
      <th scope="col">
        <%= form.hidden_field :month_id, value: @month.id %>
        <%= form.text_field :concept, class: "form-control" %>
      </th>
      <th scope="col" class="form-group">
        <%= form.select(:type_id, current_user.active_group.types.pluck(:name, :id), {}, {:class => "form-select"}) %>
      </th>
      <th scope="col">
        <%= form.number_field :value, class: "form-control" %>
      </th>
      <th scope="col">
        <div class="form-check form-switch">
          <%= form.check_box :paid, class: "form-check-input", style: "height: 1.5rem; width: 2.5rem;"%>
        </div>
      </th>
      <th scope="col">
        <%= form.text_field :additional_info, class: "form-control" %>
      </th>
      <th scope="col">
        <%= form.submit "+", class: "btn btn-success" %>
        <span class="btn btn-danger" @click="open = false">x</span>
      </th>
      <% end %>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th scope="col">
        <% if @month.active? %>
          <span role="button" class="badge bg-secondary" @click="open = true">+</span>
        <% end %>
      </th>
      <td scope="col"></td>
      <td scope="col">
        <%= @balance %>
      </td>
      <td scope="col">
        <%= @paid_balance.to_s + ' de ' + @total_lines.to_s%>
      </td>
      <td scope="col"></td>
      <td scope="col">
        <% if @month.active? %>
          <span role="button" class="badge bg-secondary p-2" style="color: white; font-size: 20px">Close Month</span>
        <% end %>
      </td>
    </tr>
    </tfoot>
  </table>
  <p style="color: green"><%= notice %></p>

</div>
