<p style="color: green"><%= notice %></p>
<div class="w-100 h-100 d-flex d-flex flex-column align-top" >
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">
        <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %>
      </a>
    </li>
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Months", root_path %>
    </a></li>
    <li class="breadcrumb-item active">
      <%= @month.period.strftime('%B-%Y') %>
    </li>
  </ol>

  <table class="table table-hover">
    <thead class="table-secondary">
    <tr>
      <th scope="col">Concepto</th>
      <th scope="col">Tipo</th>
      <th scope="col">Valor</th>
      <th scope="col">Pago/Recibido</th>
      <th scope="col">Informacion Adicional</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <%=render Line::Component.with_collection(@month.month_lines) %>
    </tbody>
    <tfoot>
    <tr>
      <th scope="col">
        <% if @month.active? %>
          <span class="badge bg-secondary p-2" style="color: white; font-size: 20px">+</span>
        <% end %>
      </th>
      <td scope="col"></td>
      <td scope="col">
        <%= @balance %>
      </td>
      <td scope="col">
        <%= @paid_balance.to_s + ' de ' + @total_lines.to_s%>
      </td>
      <td scope="col"></td>
      <td scope="col">
        <% if @month.active? %>
          <span class="badge bg-secondary p-2" style="color: white; font-size: 20px">Cerrar Mes</span>
        <% end %>
      </td>
    </tr>
    </tfoot>
  </table>

  <div style="display: none">
    <%= button_to "Destroy this month", @month, method: :delete %>
  </div>

</div>
