<tr>
  <th scope="row">
    <%= @line.concept %>
  </th>
  <td>
    <%= @line.type_name %>
  </td>
  <td>
    <%= @line.value %>
  </td>
  <td>
    <%= @line.paid %>
  </td>
  <td>
    <%= @line.additional_info %>
  </td>
  <td>

  </td>
</tr>
