<tr>
  <th scope="row">
    <%= @line.concept %>
  </th>
  <td>
    <%= @line.type_name %>
  </td>
  <td>
    <%= @line.value %>
  </td>
  <td>
    <%= @line.paid %>
  </td>
  <td>
    <%= @line.additional_info %>
  </td>
  <td>
    <%= button_to "x", @line, method: :delete, class: "btn btn-danger" %>
  </td>
</tr>
